h1{
    color: rgb(209, 87, 0);
    font-style: italic;
}

.red{
    color: red;
}

/* order lis */

ol li{
    color: rgb(116, 40, 13);
    margin-top: 3%;
    font-weight: bold;
    font-size: 1.2rem;
}

ol li span{
    text-decoration: line-through;
}

ol li strong{
    background-color: yellow;
}

.list{
    font-style: italic;
    text-decoration: underline;
}

/* unorder list */

ul li{
    font-style: inherit;
    font-size: 1.2rem;
    word-spacing: .2rem;
    letter-spacing: .5rem;
    color: rgb(116, 40, 13);
    font-weight: 400;
}

ul li span{
    background-color: yellow;
    font-weight: bold;
}

p{
   color: rgb(138, 51, 20);
   font-size: 1.2rem;
}

a{
    font-style: italic;
    color: red;
    background-color: yellow;
    font-size: 1.3rem;
    font-weight: bold;
}